@font-face {
   font-family: 'Horror Sketch';
   font-display: swap;
   src: url('file:///C:/Users/Omar%20Hamadeh/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-14_133801/fonts/Horror%20Sketch/font.ttf');
}
