@font-face {
   font-family: 'AnyConv.com__Eyes Wide Suicide';
   font-display: swap;
   src: url('file:///C:/Users/Omar%20Hamadeh/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-14_133801/fonts/AnyConv.com__Eyes%20Wide%20Suicide/font.ttf');
}
